var score = require("./plugins/score");
var consoleReporter = require("./reporters/consoleReporter");

module.exports = {
	apiUrl: "github_url",
	defaultBranch: "master",
	repos: [
		"organisation/repo:branch"
	],
	plugins: [
		score({
			"weighting": {
				"for": 5,
				"against": -1
			}
		})
	],
	reporters: [
		consoleReporter()
	],
	days: 90
}
