div.navbar-inverse {
	background-color: #2a2c2e;
	border-bottom-color: #121213;
}

div.panel-heading {
	font-size: 14px;
	font-weight: bold;
}

.comment-list {
	overflow-y: auto;
	overflow-x: hidden;
	height: 800px;
}

body {
	padding-bottom: 60px;
}

.grav {
	text-align: center;
}

li span.label {
	float: right;
	display: inline-block;
	width: 50px;
}

.kudos {
	text-align: center;
}

.kudos .score {
	font-size: 42px;
	font-weight: bold;
	color: white;
	background: #5cb85c;
	margin-top: 20px;
}

.created-at {
	float: right;
}

/*
Fixed table header styles
*/
table.table-fixedheader {
	width: 100%;
}

table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>td {
	display: block;
}
table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after {
	content:' ';
	display: block;
	visibility: hidden;
	clear: both;
}

table.table-fixedheader>tbody {
	overflow-y: scroll;
	height: 800px;
}

table.table-fixedheader>thead {
	overflow-y: scroll;
}

table.table-fixedheader>thead::-webkit-scrollbar {
	background-color: inherit;
}

table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after {
	content:' ';
	display: table-cell;
	visibility: hidden;
	clear: both;
}

table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td {
	width: 16%;
	float: left;
	word-wrap:break-word;
}

table.table-fixedheader>tbody tr td.name, table.table-fixedheader>thead tr th.name {
	width: 20%;
}
