<!doctype html>

<html>

	<head>
		<title>ContribCat</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../bootstrap-theme-github/dist/css/bootstrap.css">
		<link rel="stylesheet" href="./templates/app.css">
		<link rel="stylesheet" href="./emojify/css/basic/emojify.min.css" />
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="navbar navbar-static-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">ContribCat</a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="panel panel-default" id="headings">
						<div class="panel-heading">Summary</div>
						<div class="panel-body">
							<div class="grav">
								<img src="{{ contribs.users[username].gravatar }}" width="230"/>
							</div>
							<h3>{{ username }}</h3>
							<h4>Kudos
								<span class="label label-primary">{{ contribs.users[username].kudos }}</span>
							</h4>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Pull Requests made
								<span class="label label-primary">{{ contribs.users[username].prs.length }}</span>
							</li>
							<li class="list-group-item">Comments made
								<span class="label label-primary">{{ contribs.users[username].for.length }}</span>
							</li>
							<li class="list-group-item">Comments against
								<span class="label label-primary">{{ contribs.users[username].against.length }}</span>
							</li>
							<li class="list-group-item">Emoji's used
								<span class="label label-primary">{{ contribs.users[username].emojis }}</span>
							</li>
							<li class="list-group-item">Sentiment
								<span class="label label-primary">{{ contribs.users[username].sentiment }}</span>
							</li>
							<li class="list-group-item">Most comfortable Repo
							</li>
							<li class="list-group-item">Least comfortable Repo
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="panel panel-default" id="comments">
						<div class="panel-heading">Your Comments
						</div>
						<div class="panel-body comment-list">
							{% for comment in  contribs.users[username].for %}
							<div class="panel panel-default" id="labels">
								<div class="panel-heading">{{ comment.html_url }}
								</div>
								<div class="panel-body">
									{{ comment.body }}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
	</div>
	<script src="./emojify/js/emojify.js"></script>
	<script>
		emojify.setConfig({
			img_dir: "emojify/images/basic"
		});
		emojify.run(document.getElementById("comments"));
	</script>
	</body>
</html>
